body {
    background-color: beige;
   }
   
   header p {
       font-size: large;
       font-weight: 1000;
       margin-inline-start:  560px;
       padding: 20px;
   }
   header nav{
       font-size: medium;
       font-weight: 600;
       margin-inline-start: 595px;
   }

ul {
    list-style: none;
    display: inline-block;
}