body {
    background-color: beige;
   }
   
   header p {
       font-size: large;
       font-weight: 500;
       margin-inline-start:  560px;
       padding: 20px;
   }
   header nav{
       font-size: medium;
       font-weight: 600;
       margin-inline-start: 595px;
   }

ul {
    list-style: none;
    display: inline-block;
}

.figura {
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 400px;
    border: solid pink 2px;
    border-radius: 7px;
    margin: 20px;
   display: inline-table
}
.cards p {
    margin-inline-start: 200px;
}

.img1, .img2, .img3 {
    margin: 20px
}

.pa {
 margin-inline-start: 800px;
 margin-block-start: -600px;
 font-size: 30px;
}