body {
    background-color: beige;
   }
   
   header p {
       font-size: large;
       font-weight: 800;
       margin-inline-start:  600px;
       padding: 20px;
   }
   header nav{
       font-size: medium;
       font-weight: 600;
       margin-inline-start: 605px;
   }
