@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.tipos ul{
    list-style: none ;
}
.tipos {
    background-color: bisque;
    width: 1500px; 
    height: 600px;
    border: solid pink 2px;
    border-radius: 7px;
}

body {
 background: linear-gradient(pink,white);
}

header p {
    font-size: 30px;
    font-weight: 1000;
    margin-inline-start:  710px;
    padding: 20px;
    margin-block-start: 20px;
}
header nav{
    font-size: medium;
    font-weight: 600;
    margin-inline-start: 695px;
    margin-block-start: -25px;
}
.cards {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
 .card1 {
    border: solid white 3px;
    border-radius: 10px;
    margin: 20px;
 }
 .card1 p {
    margin-inline-start: 160px;
    font-size: large; 
 }
 .card2 {
    border: solid white 3px;
    border-radius: 10px;
    margin: 10px;
 }
 .card2 p {
    margin-inline-start: 120px;
    font-size: large;
 }
 .card3 {
    border: solid white 3px;
    border-radius: 10px;
    margin: 10px;
 }
 .card3 p {
    margin-inline-start: 120px;
  font-size: large;
 }
 .img, .img1, .img2 {
  margin: 20px;
 }

.pie p {
   font-size: 20px;
  margin-block-start: 200px;
  background-color: beige;
   padding: 1px;
   border: solid rgb(246, 246, 246) 10px;
}


p {
  margin: 40px;
  font-size: 30px;
 }

 header {
   background-color: beige;
   padding: 1px;
   border: solid rgb(246, 246, 246) 10px;
 }